body {
  font-family: 'Montserrat', sans-serif;
  overflow-y: hidden;
}
a {
  text-decoration: none;
  color: white;
}
.lets-go-button {
  animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }

  60% {
    transform: scale(1.1);
  }
}
.v-expansion-panel-text__wrapper{
    padding: 8px !important;
}