body {
  font-family: 'Montserrat', sans-serif;
}
a {
  text-decoration: none;
}
.lets-go-button {
  animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }

  60% {
    transform: scale(1.1);
  }
}